{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
<header class="masthead">
    <div class="popover"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-12 col-lg-offset-5 my-sm-0">

                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to my blog </h3>
                    <p class="text-light">I love communication as much as you &nbsp

                        <ul class="nav nav-pills">

                            {% if request.user.is_authenticated  %}
                          <li class="nav-item">
                              {% url 'home' as url_home %}
                            <a class="nav-link {% if url_home == request.path %} active {% endif %}" href="{{ url_home }}"> Main page </a>
                          </li>
                            <li class="nav-item">
                                {% url 'edit_page' as url_edit_page %}
                            <a class="nav-link {% if 'edit_page' == request.path %} active {% endif %}" href="{{ url_edit_page }}">Creation | Editing | Deleting  </a>
                            {% url 'get_author_article' as author_articles%}
                            <a class="nav-link" href="{{ author_articles }}"> My articles </a>
                          <li class="nav-item">
                          </li>
                          <li class="nav-item">
                                {% url 'exit_page' as url_exit_page %}
                            <a class="nav-link " href="{{ url_exit_page }}">Exit </a>
                          </li>
                           <p class="nav-link">Session: {{ request.user }}</p>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left">
            {% for post in list_article %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.create_date}} </p>
                    <p class="card-text">{{post.body|truncatechars:"20" }}</p>
                    <a href=" {% url 'detail_page' post.pk %} " class="nav-link">Read More &raquo;</a>
                        <form action="{% url "like-post" %}" method="post" class="ui form">
                        {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            {% if user not in post.liked.all %}
                                <button class="btn btn-primary" type="submit">like</button>
                            {% else %}
                                <button class="btn btn-primary" type="submit">Unlike</button>
                            {% endif %}
                        </form>
                        <div>{{ post.liked.count }}Likes</div>

                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'widget.html' %} {% endblock sidebar %}
    </div>
</div>
{% else %}
{% url 'login_page' as url_login_page %}
<a class="nav-link" href="{{ url_login_page }}">Authorization </a>

<li class="nav-item">
{% url 'registration_page' as url_registration_page %}
<a class="nav-link " href="{{ url_registration_page }}">Registration </a>
{% endif %}

</li>

{%endblock%}