{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
<header class="masthead">
    <div class="popover"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-12 col-lg-offset-5 my-sm-0">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to the add new post page </h3>
                    <p class="text-light">Stay online &nbsp;
                        <ul class="nav nav-pills">
                          <li class="nav-item">
                                {% url 'home' as url_home %}
                                <a class="nav-link {% if url_home == request.path %} active {% endif %}" href="{{ url_home }}"> Main page </a>
                          </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<br>
 <div class="container">
        <div class="row">
        <div class="col-md-8 mt-3 left">

            {% for post in profile %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Date of Birth: {{ post.user.username }}</h2>
                    <h2 class="card-title">Date of Birth: {{ post.date_of_birth }}</h2>
                    <h2 class="card-title">Age: {{ post.age }}</h2>
                    <h2 class="card-title">Short description: {{ post.bio }}</h2>
                    <h2 class="card-title">Country: {{ post.country }}</h2>
                    <h2 class="card-title">Gender: {{ post.gender }}</h2>
                    {% if post.avatar %}
                        <img src="{{ post.avatar.url }}" alt="">
                    {% else %}
                        <p></p>
                    {% endif %}
                        {% endfor %}
                        <a href="{% url 'update_profile' %}" class="top-menu">
                            <span class="glyphicon glyphicon-plus">Update profile</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
