{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
        p{
            color: royalblue;
            font-family: 'Lobster', cursive;
        }
        .card-title{
            color: black;
            font-family: 'fantasy'
        }
</style>
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text">This blog was created by Dmitriy Ladutko, a novice Web developer.</p>
        <a href="https://github.com/DmitriyLadutko" class="btn btn-info">Know more!</a>
    </div>
</div>
</div>
{% endblock sidebar %}